@model ProjetoHospital.Models.RequisicaoExame

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RequisicaoExame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRequisicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRequisicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAgendamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAgendamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exame.IdadePaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consulta.Tipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
